.body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}

.div {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;

    color: hsla(0, 0.00%, 71.33%, 1.00);
  
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: rgb(201, 198, 198);
  color: white;
}

.main {
  margin: 0;
  padding: 0;
  display: flex;
  
}

.bluebox {
  background-color: #1a8ef7;
  flex: 5%;
  min-height: 100vh;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  
}

.maincontent {
  flex: 95%;
}

.hero {
  display: flex;
  margin-bottom: 0px;
  padding-top: 30px;
  padding-right: 35px;
  padding-bottom: 0px;
  padding-left: 35px;
  align-items: center;
  justify-content: space-evenly;
  
}

.hero:small {
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
}

.div-block-3 {
  display: flex;
  padding-right: 0px;
  flex-direction: column;
  align-self: stretch;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

.div-block-3:small {
  flex: 4;
  justify-content: center;
  align-items: center;
}

.bluetext {
  font-weight: 600;

  margin-top: 56px;
  color: hsla(208.00000000000003, 82.57%, 57.25%, 1.00);
  font-size: 18px;
}

.heroheading {
  font-weight: 600;

  padding-top: 0px;
  padding-right: 0px;
  font-size: 50px;
}



.callbutton {
  font-weight: 600;
  color: white;
  background-color: #3898ec;
  display: flex;
  width: 150px;
  margin-top: 100px;
  margin-bottom: 86px;
  padding-top: 10px;
  padding-right: 12px;
  padding-bottom: 10px;
  padding-left: 12px;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 16px;
  object-fit: fill;
}


.container {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  border-top-style: solid;
  border-top-width: 0px;
  border-top-color: black;
  border-right-style: solid;
  border-right-width: 0px;
  border-right-color: black;
  border-bottom-style: solid;
  border-bottom-width: 0px;
  border-bottom-color: black;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: black;
  text-align: justify;
  object-fit: cover;
}

.footer{
  display: flex;
  padding: 30px 30px;
}

.step{
  font-size: 14px;
  font-weight: 600;
}

.container-heading {

    margin-top: -3px;
    color: hsla(208.00000000000003, 82.57%, 57.25%, 1.00);
    font-size: 35px;
    font-weight: 800;
}

.container-description{
  font-size: 12px;
}

.dot {
  height: 50;
  width: 50;
  color: red;
}

.dot {
  height: 10px;
  background-color: hsla(208.00000000000003, 82.57%, 57.25%, 1.00);
  margin-left: 20px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}

.dot2 {
  height: 35px;
  background-color: hsla(208.00000000000003, 82.57%, 57.25%, 1.00);
  margin-left: 20px;
  width: 35px;
  border-radius: 50%;
  display: inline-block;
}

.dot-flex{
  margin-top: 20px;
  display: flex;
}

.logo {
  display: flex;
  flex-direction: column;
  /* background-color: #1a8ef7; */
  width: 30px;
  justify-content: center;
  align-items: center;
  /* border-radius: 20%; */
  

}

.logo-text{
  font-weight: 900;
  margin: 0px ;
  font-family: 'Alfa Slab One';
  padding-left: 20px;
  color: rgb(53, 49, 49);
  /* font-family: 'Anton'; */
}

.inner {
  position: absolute;
}